<html>
<Title>Mercer BOT POC </Title>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/sample.css" />
    <link rel="stylesheet" type="text/css" href="../css/login_style.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />

    <script>
        
        $(function () { // jQuery DOM ready
            var baseurl = "http://mercerchatbot.azurewebsites.net/bot/"; //"http://localhost:8080/bot/";// 
            $.ajaxSetup({
                timeout:300000 // in milliseconds 
            });
            $('#dologin').click(function(){
                var lightbox = '<div id="lightbox">' +
                                    '<div id="content">' + //insert clicked link's href into img src
                                        '<p id="p_status">Verifying Credential...</p>' +
                                        '<img src="../images/loading.gif" />'
                                    '</div>' +	
                                '</div>';
                $('#progress').empty();
                $('#progress').append(lightbox);
                //$('#content').html('<img src="../images/progress.gif" />');
                $('#lightbox').show();
                userid = $('#login').val();
                password = $('#password').val();
                var url = baseurl + 'user/' + userid + '/' + password;
                $.post( url, function(result ) {
                    if(result){
                        if(result.success){
                            hidepopup();
                            $('#chat_window_1').css("display", "block");
                            
                            var username = result.username;
                            var ssn = result.ssn;
                            var dob = result.dob;
                            var cert = result.cert;
                            var telephone = result.telephone;
                            var address = result.address;

                            $('#_name').empty();
                            $('#_name').append(username);
                            $('#_ssn').empty();
                            $('#_ssn').append(ssn);
                            $('#_cert').empty();
                            $('#_cert').append(cert);
                            $('#_dob').empty();
                            $('#_dob').append(dob);
                            $('#_contact').empty();
                            $('#_contact').append(telephone);
                            //store username, ssn, dob, cert no
                            $('#p_status').html('Initializing Chat Bot....')
                            var url = baseurl + 'init';
                            $.get(url, function (result1) {
                                //alert("result received");
                                if (result1 && (result1.data != "undefined")) {
                                    var msg = `<div class="row msg_container base_receive">
                                                <div class="col-md-2 col-xs-2 avatar">
                                                        <img style="height:40px;width:40px;" src="../images/ben.png" class=" img-responsive "/>
                                                </div>
                                                <div class="col-md-10 col-xs-10">
                                                    <div class="messages msg_receive">
                                                        <p>`;

                                    msg += '<h4>' + getTimeString() ;
                                    if(username){
                                        msg += ', ' + username + '</h4>';
                                    }
                                    msg += result1.data; 
                                    msg += `</p>
                                                        <time datetime="2009-11-13T20:00">BEN at `
                                    msg += new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
                                    msg += `</time>
                                                    </div>
                                                </div>
                                            </div>`
                                    //alert(msg);
                                    $('#converse').append(msg);
                                    $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");
                                    // post user context
                                    $('#p_status').html('Updating User Context...')
                                    var post_message = '{"username": "' + username + '", "ssn": "' + ssn + '", "dob": "' + dob + '", "address": "' + address + '", "telephone": "' + telephone + '", "cert": "' + cert + '"}';
                                    var url = baseurl + 'post/' + post_message;
                                    $.get(url, function (result2) {
                                        if(result2){
                                            var res = result2.data;
                                            //alert(res);
                                            $('#lightbox').hide();
                                        }
                                    });
                                }
                            });

                        }
                        else
                        {
                            $('#lblmsg').empty();
                            $('#lblmsg').append('Invalid userid/ password');
                        }
                    }
                });
                

            });

            $("#show_login").click(function(){
                showpopup();
            });
            $("#show_login_1").click(function(){
                showpopup();
            });
            $("#close_login").click(function(){
                hidepopup();
            });
                        //firstLoad();
            /*$('#startchat').click(function(){
                
                //alert('hello');
                //alert($('#chat_window_1').css.display);
                $('#chat_window_1').css("display", "block");
                //firstLoad();
            });*/
            
            $('#newconverse').click(function(){
                 var url = baseurl +  'init';
                $.get(url, function (result) {
                    
                });

                $('#converse').empty();
                //var posturl = 'http://localhost:5001/bot/post/new conversation';
                //$.get(posturl, function (result) {
                var msg = `<div class="row msg_container base_receive">
                                        <div class="col-md-2 col-xs-2 avatar">
                                                <img style="height:40px;width:40px;" src="../images/ben.png" class=" img-responsive "/>
                                        </div>
                                        <div class="col-md-10 col-xs-10">
                                            <div class="messages msg_receive">
                                                <p>Please choose from below options or type your question in the input box<br>
                    <input type="button" onclick="hello(this)" value="Policy Query" id="Policy Query"><br>
                    <input type="button" onclick="hello(this)" value="Payment Query" id="Payment Query"><br>
                    <input type="button" onclick="hello(this)" value="Website Issue" id="Website Issue"></p>`
                    //msg = result.data;                    
                    msg += '<time datetime="2009-11-13T20:00">BEN at'  + new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
                    msg += `</time>
                                    </div>
                                </div>
                            </div>`;
                    
                    $('#converse').append(msg);
                    $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");
                   
                //});

                
                
                
            });
            $('#txtmessage').bind("enterKey", function (e) {
                var text = $('#txtmessage').val();
                var url = baseurl + 'post/' + text;
                
                $.get(url, function (result) {
                    if (result && (result.data != "undefined")) {
                        //$('#converse').append('<table border="0"><tr><td><img style="height:60px;width:60px;" src="http://mercertestbot.azurewebsites.net/images/chatbot.jpg"/> </td> <td>' + result.data + '</td></tr></table>');
                        var msg = `<div class="row msg_container base_receive">
                                    <div class="col-md-2 col-xs-2 avatar">
                                            <img style="height:40px;width:40px;" src="../images/ben.png" class=" img-responsive "/>
                                    </div>
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_receive">
                                            <p>`;
                        msg += result.data; 
                        msg += `</p>
                                            <time datetime="2009-11-13T20:00">BEN at `
                        msg += new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
                        msg += `</time>
                                        </div>
                                    </div>
                                </div>`
                        $('#imgprogress').remove();
                        $('#converse').append(msg);
                        
                        $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");
                        
                    }
                });
                var appendhtml = `<div class="row msg_container base_sent">
                                    <div class="col-md-10 col-xs-10">
                                        <div class="messages msg_sent">
                                            <p>`;
                appendhtml += text;
                appendhtml += `</p>
                                            <time datetime="2009-11-13T20:00"> You at`;
                appendhtml += new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
                appendhtml += `</time>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-2 avatar">
                                        <img style="height:40px;width:40px;" src="../images/you.png" class=" img-responsive "/>
                                    </div>
                                </div>`;
                $('#converse').append(appendhtml);
                $('#converse').append('<div id="imgprogress"><img src="../images/inprogress.gif" /></div>');
                $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");

                $('#txtmessage').val("");
            });
            $('#txtmessage').keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });

            $(document).on('click', '.panel-heading span.icon_minim', function (e) {
                var $this = $(this);
                if (!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
                }
            });
            $(document).on('focus', '.panel-footer input.chat_input', function (e) {
                var $this = $(this);
                if ($('#minim_chat_window').hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $('#minim_chat_window').removeClass('panel-collapsed');
                    $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                }
            });
            $(document).on('click', '#new_chat', function (e) {
                var size = $(".chat-window:last-child").css("margin-left");
                size_total = parseInt(size) + 400;
                //alert(size_total);
                var clone = $("#chat_window_1").clone().appendTo(".container");
                clone.css("margin-left", size_total);
            });
            $(document).on('click', '.icon_close', function (e) {
                //$(this).parent().parent().parent().parent().remove();
                $("#chat_window_1").css("display", "none");
                $("#imgchat").css("display", "block");
            });

            $('#imgchat').click(function(){
                $("#chat_window_1").css("display", "block");
                $("#imgchat").css("display", "none");
            })

            //$('.msg_container_base').scroll($('.msg_container_base')[0].scrollHeight);

        });
    </script>
<script>
            $.ajaxSetup({
                timeout:300000 // in milliseconds 
            });
var baseurl = "http://mercerchatbot.azurewebsites.net/bot/"; //"http://localhost:8080/bot/";//
    function hello(obj) {
        $('#converse').append('<div id="imgprogress"><img src="../images/inprogress.gif" /></div>');
        $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");
        var url = baseurl + 'post/' + obj.id;
        $.get(url, function (result) {
            if (result && (result.data != "undefined")) {
                var msg = `<div class="row msg_container base_receive">
                            <div class="col-md-2 col-xs-2 avatar">
                                    <img style="height:40px;width:40px;" src="../images/ben.png" class=" img-responsive "/>
                            </div>
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_receive">
                                    <p>`;
                msg += result.data; 
                msg += `</p>
                                    <time datetime="2009-11-13T20:00">BEN at`
                msg += new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
                msg += `</time> </div>
                            </div>
                        </div>`
                $('#imgprogress').remove();
                $('#converse').append(msg);
                $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");
            }
        }, {timeout: 300000});
    }
function showpopup()
{
 $("#loginform").fadeIn();
 $("#loginform").css({"visibility":"visible","display":"block"});
}

function hidepopup()
{
 $("#loginform").fadeOut();
 $("#loginform").css({"visibility":"hidden","display":"none"});
}

    function firstLoad(){
        var url = baseurl + 'init';
        $.get(url, function (result) {
            if (result && (result.data != "undefined")) {
                var msg = `<div class="row msg_container base_receive">
                            <div class="col-md-2 col-xs-2 avatar">
                                    <img style="height:40px;width:40px;" src="../images/ben.png" class=" img-responsive "/>
                            </div>
                            <div class="col-md-10 col-xs-10">
                                <div class="messages msg_receive">
                                    <p>`;

                msg += '<h4>' + getTimeString() + '</h4>';
                if(result.user){
                    msg += ', <b>' + result.user + '</b>';
                }
                msg += '. ' +  result.data; 
                msg += `</p>
                                    <time datetime="2009-11-13T20:00">BEN at `
                msg += new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();
                msg += `</time>
                                </div>
                            </div>
                        </div>`
                $('#converse').append(msg);
                $('#converse').animate({"scrollTop": $('#converse')[0].scrollHeight}, "fast");
            }
        });
    }

    function getTimeString(){
        var data = [
                [0, 4, "Good evening!!"], 
                [5, 11, "Good morning!!"],          //Store messages in an array
                [12, 17, "Good afternoon!!"],
                [18, 24, "Good evening!!"]
            ],
            hr = new Date().getHours();
            for(var i = 0; i < data.length; i++){
                if(hr >= data[i][0] && hr <= data[i][1]){
                    return data[i][2];
                    break;
                }
            }
    }


</script>
</head>




<body class="osLogin">
    <div>
        <header class="osHeader">
            <nav class="topNav fixed">
                <section class="topNavContent">
                    <p>MERCER OS<sup>&reg;</sup></p>
                    <h2><a href="#" id="show_login"><p style="font-size:15;"><b>Login</b></p></a></h2>
                </section>
            </nav>
        </header>
        
        <div class="osContentChatSection">
            
			<div class="osContentChatBoxDetails">
				<div class="osContentDetailsLeft">
					<div class="osContentLogoHeader">
						<img class="osContentLogoHeader-logo" id="benHeader" src="../images/header-logo.jpg"/>
						<hr class="osContentLogoHeader-hr"></hr>
						<div class="osContentLogoHeader-text">MERCER</div>
						<div class="osContentLogoHeader-subtext">Artificial Intelligence</div>
					</div>
					<div class="osContentLogoHeader-header">Hello, my name is Ben. I am an AI customer assistant.</div>
					<div class="osContentLogoHeader-headerText">I can handle conversations about the following topics:</div>
					<div class="osContentLogoHeader-logos">
						<div class="osContentLogoHeader-logo osContentLogoHeader-logo-tracking">
							<img class="osContentLogoHeader-logo-icon" src="../images/policy-icon.png" />Policy Query
						</div>
						<div class="osContentLogoHeader-logo osContentLogoHeader-logo-returns">
							<img class="osContentLogoHeader-logo-icon" src="../images/payment-logo.png" />Making a payment
						</div>
						<div class="osContentLogoHeader-logo osContentLogoHeader-logo-cancellations">
							<img class="osContentLogoHeader-logo-icon" src="../images/login-icon.png" />Login help
						</div>
					</div>
					<div class="osContentLogoHeader-headerText">To use chatbot you will have to login so that your identify gets confirmed.</div>
                    <div class="osContentLogoHeader-headerText">Click <a href="#" id="show_login_1" ><b>Login</b></a> to start login process if you are registered user else <a href="#" id=""><b> Register now</b></a></div>
					<div class="osContentLogoHeader-customerCard">
						<div class="osContentLogoHeader-customerCard-card">
							<div class="osContentLogoHeader-customerCardLeft">
                                <img class="osContentLogoHeader-customerCard-id" src="../images/customer-profile.png" /><br> <center><span id="_name">User Name</span></center>
							</div>
							<div class="osContentLogoHeader-customerCardRight">
							<div class="osContentLogoHeader-customerCard-card-section">
								<div class="osContentLogoHeader-customerCard-card-header osContentLogoHeader-customerCard-card-name">SSN: <span id="_ssn" class="osContentLogoHeader-customerCard-card-value osContentLogoHeader-customerCard-card-name"></span></div>
							</div>
							<div class="osContentLogoHeader-customerCard-card-section">
								<div class="osContentLogoHeader-customerCard-card-header osContentLogoHeader-customerCard-card-email">Cert No: <span id="_cert" class="osContentLogoHeader-customerCard-card-value osContentLogoHeader-customerCard-card-email"></span></div>
							</div>
                            <div class="osContentLogoHeader-customerCard-card-section">
								<div class="osContentLogoHeader-customerCard-card-header osContentLogoHeader-customerCard-card-email">Contact No: <span id="_contact" class="osContentLogoHeader-customerCard-card-value osContentLogoHeader-customerCard-card-email"></span></div>
							</div>
                            <div class="osContentLogoHeader-customerCard-card-section">
								<div class="osContentLogoHeader-customerCard-card-header osContentLogoHeader-customerCard-card-email">Date Of Birth: <span id="_dob" class="osContentLogoHeader-customerCard-card-value osContentLogoHeader-customerCard-card-email"></span></div>
							</div>
							</div>
						</div>
					</div>
                    <center>
                        <div id = "loginform">
                        
                            <input type = "image" id = "close_login" src = "../images/close.png">
                            <input type = "text" id = "login" placeholder = "User Id" name = "uid">
                            <input type = "password" id = "password" name = "upass" placeholder = "***">
                            <input type = "button" id = "dologin" value = "Login">
                            <div id="lblmsg"></div>
                        </div>
                    </center>
					<!--<div class="osContentLogoFooter">copyright Eloquent Labs, 2017</div>-->
				</div>
				<div class="osContentDetailsRight">
					<img class="osContentLogoHeader-chatbot" id="imgchat" style="display:none;" src="../images/logo_chat.png" />
				</div>
			</div>
		</div>

        <div  class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-bottom:200px;margin-left:10px;display:none;">
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="col-md-8 col-xs-8">
                            <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - Ben</h3>
                            <!--<div style="text-align: right"> <button id="newconverse">New Coversation</button></div>-->
                        </div>
                        
                        <div class="col-md-4 col-xs-4" style="text-align: right;">
                            
                            <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                        </div>
                    </div>
                    <div id="converse" class="panel-body msg_container_base">
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="txtmessage" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                            <span class="input-group-btn">
                                            <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="progress">
        </div>
        
<footer class="osFooter">
    <div class="osFooterBckgrd"></div>
    <div class="osFooterContent">
        <div class="osFooterLogo">
            <img src="../images/mercer_login_footer_logo.png" alt="Mercer" />
        </div>
        <div class="osFooterCopyright">
            <p>© 2017 Mercer LLC, All Rights Reserved</p>
        </div>
    </div>
</footer>
</div>
</body>